<section>
  <h1>Lazy, Impatient, Prideful</h1>
  <p>My name is Eugene Wang, and I am currently a student at <a href="http://www.flatironschool.com/" target="_blank">The Flatiron School</a> in New York City. This blog is about my 12-week journey to learn how to build awesome web products and develop, as <a href="http://en.wikipedia.org/wiki/Larry_Wall" target="_blank">Larry Wall</a> once said, the three great virtues of a programmer: laziness, impatience, and hubris.</p>
    
  <p>Damn, it feels good to be a hacker. </p>
</section>
