<section>
  <h1>Flatiron Blogs</h1>
  <h4>Check out these awesome blogs by my Flatiron School classmates</h4>
  <ul>
      <li><a href="http://anabecker.tumblr.com/" target="_blank">Ana Becker</a></li>
      <li><a href="http://1aurabrown.github.com/" target="_blank">Laura Brown</a></li>
      <li><a href="http://andrewcallahan.tumblr.com/" target="_blank">Andrew Callahan</a></li>
      <li><a href="http://christinachang.github.com/" target="_blank">Christina Chang</a></li>
      <li><a href="http://acrystalc.github.com/" target="_blank">Crystal Chang</a></li>
      <li><a href="http://tylerdavis.github.com/#blog" target="_blank">Tyler Davis</a></li>
      <li><a href="http://johnkellyferguson.github.com/" target="_blank">John Kelly Ferguson</a></li>
      <li><a href="http://vicfriedman.github.com/" target="_blank">Victoria Friedman</a></li>
      <li><a href="http://ei-lene.github.com/" target="_blank">Ei-lene Heng</a></li>
      <li><a href="http://aspectratio.github.com/" target="_blank">Tim Hunter</a></li>
      <li><a href="http://iacutone.github.com/" target="_blank">Eric Iacutone</a></li>      
      <li><a href="http://modernlegend.github.com/" target="_blank">Yanik Jayaram</a></li>
      <li><a href="http://meowist.github.com/" target="_blank">Justin Kestler</a></li>
      <li><a href="http://chokim.github.com/" target="_blank">Cho Kim</a></li>
      <li><a href="http://jlarusso.github.com/" target="_blank">Jesse LaRusso</a></li>
      <li><a href="http://www.erinandcode.com/" target="_blank">Erin Lee</a></li>
      <li><a href="http://dolin.github.com/" target="_blank">Danny Olinksy</a></li>
      <li><a href="http://mrikhter.github.com/" target="_blank">Masha Rikhter</a></li>
      <li><a href="http://rseshan.github.com/" target="_blank">Rahul Seshan</a></li>
      <li><a href="http://walliswt.github.com/" target="_blank">Wallis Wilkinson-Tsai</a></li>
      <li><a href="http://janeeats.github.com/" target="_blank">Jane Vora</a></li>
      <li><a href="http://hwang0214.github.com/" target="_blank">Harrison Wang</a></li>
      <li><a href="http://anthonywijnen.com/" target="_blank">Anthony Wignen</a></li>
  </ul>
</section>