<section>
  <h1>Flatiron Blogs</h1>
  <h4>Check out these awesome blogs by my Flatiron School classmates</h4>
  <ul>
      <li><a href="http://anabecker.tumblr.com/" target="_blank">Ana Becker</a></li>
      <li><a href="http://1aurabrown.github.com/" target="_blank">Laura Brown</a></li>
      <li><a href="http://andrewcallahan.tumblr.com/" target="_blank">Andrew Callahan</a></li>
      <li><a href="http://christinachang.github.com/" target="_blank">Christina Chang</a></li>
      <li><a href="http://acrystalc.github.com/" target="_blank">Crystal Chang</a></li>
      <li><a href="http://tylerdavis.github.com/#blog" target="_blank">Tyler Davis</a></li>
      <li><a href="http://vicfriedman.github.com/" target="_blank">Victoria Friedman</a></li>
      <li><a href="http://ei-lene.github.com/" target="_blank">Ei-lene Heng</a></li>
      <li><a href="http://www.erinandcode.com/" target="_blank">Erin Lee</a></li>
      <li><a href="http://anthonywijnen.com/" target="_blank">Anthony Wignen</a></li>
  </ul>
</section>